<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Organización de Lenguajes y Compiladores 2
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="Error">
      <ion-segment-button value="Error" >
        <ion-label>Reporte de Errores</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Tabla">
        <ion-label>Tabla de Simbolos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Organización de Lenguajes y Compiladores 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="itemSelect=='Error'">
    <ion-item *ngFor="let item of data">
      <ion-label class="ion-text-wrap">
        <p><strong>Descripción: </strong>{{item.descripcion}}</p>
        <p><strong>Fila: </strong>{{item.fila}}</p>
        <p><strong>Columna: </strong>{{item.columna}}</p>
        <p><strong>Tipo: </strong>{{item.tipo}}</p>
      </ion-label>
    </ion-item>
  </div>

  <div *ngIf="itemSelect=='Tabla'">
    <ion-item *ngFor="let item of dataSimbol">
      <ion-label class="ion-text-wrap">
        <p><strong>ID: </strong>{{item.id}}</p>
        <p><strong>Fila: </strong>{{item.fila}}</p>
        <p><strong>Columna: </strong>{{item.columna}}</p>
        <p><strong>Tipo: </strong>{{item.tipo}}</p>
        <p><strong>descripcion: </strong>{{item.descripcion}}</p>
        <p><strong>Valor: </strong>{{item.content}}</p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
