<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Organización de Lenguajes y Compiladores 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Organización de Lenguajes y Compiladores 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="graph-container" name="graph-container">
      <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMinYMin meet"></svg>
  </div>
</ion-content>
